.header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}
body {
    background-image: url('/assets/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
fieldset {
    width: 100px;
    margin: 50px auto;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}
table {
    margin: 0 auto;
}
td {
    font-size: 20px;
    text-align: right;
    border: 1px solid black;
}
#canvas {
    border-radius: 20px;
    margin-bottom: 20px;
}
#text {
    font-weight: bold;
    margin-top: 20px;
}